<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{ content }}
    <!-- 1000 Mercis -->
    <script type="text/javascript">
(function(d,e,f,g,a,b,c){d._zaq||(a=d._zaq=function(){a.callZa?   a.callZa.apply(a,arguments):a.queue.push(arguments)},a.push=a,a.queue=[],   a.version="1.0",b=e.createElement(f),b.async=!0,b.src=g,   c=e.getElementsByTagName(f)[0],c.parentNode.insertBefore(b,c))}   (window,document,"script","//nzaza.com/za.js"));  _zaq('init', '36562552-2a3c03232f9a53d214be13cd79fa691d'); _zaq('tag', {
   }); 
    </script>
    <!-- Facebook Pixel Code -->
    <script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '1049377698458980');
fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
					src="https://www.facebook.com/tr?id=1049377698458980&ev=PageView&noscript=1"
     /></noscript>
    <!-- End Facebook Pixel Code -->
    <!-- Animation -->
    <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>
    <script src="js/anim1.js"></script>
    <script src="js/anim2.js"></script>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
